<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >  
  <targets>    
    <target name="logfile" xsi:type="File"
            fileName="E:\DADOS\DESENVOLVIMENTO\Git\gandarez\ssms-wakatime\bin\Debug\log\ssms-wakatime.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" 
            archiveFileName="E:\DADOS\DESENVOLVIMENTO\Git\gandarez\ssms-wakatime\bin\Debug\log\{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="15"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>